* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a {
    color: #dfaf89;
    text-decoration: none;
}

/* body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top{
    height: 81px;
	display: flex;
}
.btn_black,.btn_white{
    width: 72px;
    height: 31px;
    line-height: 31px;
    font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
    letter-spacing: 0px;
    text-align: center;
}
.btn_black{
    border: solid 1px #ffffff;
    color: #fff;
}
.btn_white{
    background-color: #ffffff;
    color: #dfaf89;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
  }



  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a {
    color: #dfaf89;
    text-decoration: none;
} */

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top{
    width: 100%;
    min-width: 1200px;
    height: 81px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
}
.top::before{
    content: "";
    position: absolute;
    left: 35%;
    width: 215px;
    height: 100px;
    background-color: #fff;
    transform: translate(-52px,40px) rotate(30deg);
}
.top::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 81px;
    background-color: #fff;
}
.use_handler{
    /* margin-left: 600px; */
    display: flex;
    margin-top: 25px;
}

.btn_black,.btn_white{
    width: 72px;
    height: 31px;
    line-height: 31px;
    font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
    letter-spacing: 0px;
    text-align: center;
}
.btn_black{
    border: solid 1px #ffffff;
    color: #fff;
}
.btn_white{
    background-color: #ffffff;
    color: #dfaf89;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
  }
