.head {
  height: 170px;
  background: url(../img/head.png) no-repeat center center;
  padding-top: 125px;
}

.center {
  width: 1200px;
  margin: 0 auto;
}

.head .center {
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: #ffffff;
}

.locate {
  height: 50px;
  line-height: 50px;
}

.locate .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/pic.png) no-repeat -6px -199px;
  vertical-align: text-top;
}

.locate i {
  font-style: normal;
}

.locate span {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: #333333;
}

.band {
  display: flex;
  justify-content: space-between;
}

.bandNav {
  width: 280px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), inset 0px 4px 0px 0px #dfaf89;
  border-top: 4px solid #dfaf89;
}

.navItem {
  height: 60px;
  background-color: #ffffff;
  line-height: 60px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
}

.navItem:hover, .chose {
  background-color: #fff6ed;
  box-shadow: inset 0px -1px 0px 0px #dfaf89;
  border-top: 1px solid #dfaf89;
  color: #dfaf89;
}

.navCont {
  width: 900px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), inset 0px 4px 0px 0px #dfaf89;
}
.contTitle{
  width: 130px;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
font-weight: normal;
font-stretch: normal;
letter-spacing: 0px;
  color: #333333;
  border-bottom: 4px solid #dfaf89;
  text-align: center;
}
.cont{
  border-top: 1px solid #edecec;
}
/* .cont>div{
  width: 663px;
  margin: 45px auto;
  display: flex;
  justify-content: space-between;
} */

.cont_l{
  /* width: 376px; */
}
.line{
  font-size: 14px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  display: flex;
}
/* .line>div:nth-child(2){
  display: flex;
} */
.lineTitle{
  text-align: right;
  width: 61px;
  margin-right: 15px;
}
.btn_change{
  display: inline-block;
  width: 100px;
height: 34px;
  border: solid 1px #e8e8e8;
  line-height: 34px;
  text-align: center;
  margin-left: 24px;
  cursor: pointer;
}
.line i {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 3px solid #e1e1e1;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
.line .value{
  border-color: #dfaf89;
}
.sex{
  margin-right: 20px;
}
.btn_save,.btn_cancel{
  width: 100px;
height: 40px;
  border-radius: 2px;
  font-size: 14px;
font-weight: normal;
font-stretch: normal;
line-height: 40px;
  letter-spacing: 0px;
  color: #55595c;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}
.btn_save{
  color: #fff;
background-color: #dfaf89;
}
.btn_cancel{
  border: solid 1px #e8e8e8;
}
.cont_r{
  width: 120px;
}
.btn_edit{
  font-size: 14px;
font-weight: normal;
font-stretch: normal;
line-height: 30px;
letter-spacing: 0px;
  color: #333333;
  text-align: center;
  cursor: pointer;
}
.line input{
  width: 300px;
height: 50px;
background-color: #ffffff;
border-radius: 3px;
  border: solid 1px #e6e6e6;
  line-height: 50px;
  outline: none;
  font-size: 14px;
  padding:0 1em;
  flex-shrink: 5;
}
.btn_forget{
  width: 95px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
font-weight: normal;
font-stretch: normal;
letter-spacing: 0px;
color: #dfaf89;
}
.tip{
  font-size: 12px;
font-weight: normal;
font-stretch: normal;
line-height: 4px;
letter-spacing: 0px;
color: #aaaaaa;
}
.password>div:nth-child(2){
  margin: 0 auto;
}
.cont .errortip
{
  margin: 20px auto 12px !important;
}
.cont .errortip,
.error_code{
  height: 20px;
  
  font-size: 12px;
font-weight: normal;
font-stretch: normal;
letter-spacing: 1px;
  color: #fa797a;
  padding-left: 80px;
}
.error_code{
padding: 0;
line-height: 0;
}
.p_result>div:nth-child(1){
  width: 300px;
  height: 190px;
  margin: 84px auto;
  display: block;
}
.msg{
  width: 100%;
}
.msg div{
  width: 77px;
  height: 77px;
  background: url(../img/pic.png) no-repeat -10px -67px;
  margin: 0 auto;
}
.msg p {
  font-size: 14px;
font-weight: normal;
font-stretch: normal;
letter-spacing: 0px;
  color: #2e2e35;
  text-align: center;
  margin-top: 20px;
}
.btn_relog{
  width: 300px;
height: 50px;
background-color: #dfaf89;
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
font-weight: normal;
font-stretch: normal;
letter-spacing: 0px;
  color: #ffffff;
  margin-top: 23px;
}
.code_tip{
  height: 0;
}
.sendcode{
  width: 110px;
height: 50px;
background-color: #dfaf89;
  border-radius: 3px;
  font-size: 14px;
font-weight: normal;
font-stretch: normal;
line-height: 50px;
letter-spacing: 0px;
  color: #ffffff;
  margin-left: 10px;
  text-align: center;
}
.phone .line>div:nth-child(2){
  width: 300px;
}
.click{
  display: block;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7{
  display: none;
}
#p1:target, #p2:target, #p3:target,#p4:target, #p5:target, #p6:target, #p7:target, #p8:target, #p9:target{
   display: block;
}

#p4{
  margin: 0 auto;
}
.el-table{
  width: 97%;
  margin: 0 auto;
}
.el-row{
  width: 75%;
  margin: 17% auto;
}
.el-button a{
  color: #fff;
}
#p1{
  display: block!important;
  height:780px;
  margin: -7px auto 33px;
  position: relative;
}
.navCont {
  width: 1200px;
  /* position: relative; */
}
/* .line{
  position: absolute;
  top: 18%;
  left: 16%;
} */
#content{
  width: 840px!important;
}
.newline{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
  display: flex;
  margin-bottom: 20px;
  position: absolute;
  top: 90%;
  left: 38%;
}
.newline lineTitle{
  text-align: right;
  width: 61px;
  margin-right: 15px;
}
.newline .btn_save,.btn_cancel{
  width: 100px;
  height: 40px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0px;
  color: #55595c;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}
.newline .btn_save a{
  color: #fff;
  background-color: #dfaf89;
}
.newline .btn_cancel {
  border: solid 1px #e8e8e8;
}
.line_video{
  width: 285px;
  height: 200px;
  border: 1px solid #eee;
	background-color: #fff;
  border-radius: 3px 3px 0px 0px;
  margin: 7px -4px 7px 15px;
  position: relative;
  cursor: pointer;
}
.line_video:first-child,.line_video:nth-child(2),.line_video:nth-child(3),.line_video:nth-child(4){
  margin-top: 20px;
}
.first_p{
  position: absolute;
  top: 66%;
  left: 3%;
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 34px;
  letter-spacing: 0px;
  color: #f8f8f8;
}
.sec_P{
  font-family: SourceHanSansCN-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 34px;
	letter-spacing: 0px;
  color: #333333;
  padding-left: 7px;
}
.vide_img{
  position: absolute;
  top: 30%;
  left: 40%;
}
.line_video:hover .zhe{
  width: 101%;
  height: 81%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .6;
}
.line_video:hover .zhezhao{
  width: 64px;
  height: 64px;
  position: absolute;
  top: 34%;
  left: 65%;
  background-image: url(../img/delete.png);
  background-repeat: no-repeat;
  z-index: 10000;
}
.line_video:hover .zhezhao2{
  width: 64px;
  height: 64px;
  position: absolute;
  top:33%;
  left:29%;
  background-image:url(../img/sgipin.png);
  background-repeat: no-repeat;
  z-index: 10000;
}
.common{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}
.again{
  display: none;
}
.show{
  display:block;
}
#shotvideo{
  position: relative;
}
.show_edi{
  width: 340px;
  height: 390px;
  background-color: #fff;
  z-index: 99999;
  position: absolute;
  top: 27%;
  left: 42%;
}
.show_top{
  margin:-20px auto 15px;
  color: #2e2e35;
  font-size: 18px;
  text-align: center;
}
.show_shang{
  margin: 10px auto;
  padding: 10px 45px;
  color: #2e2e35;
  font-size: 14px;
}
.show_shang input{
  height: 33px;
  border: 1px solid #ccc;
}
.show_bottom{
  width: 150px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-around;
}